<%- include('includes/head.ejs') %>

<!-- Material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/css/new-password.css">

</head>

<body>

<div class="container">

    <% if (errorMessage) { %>

        <svg class="error" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
            <path d="M16.142 2l5.858 5.858v8.284l-5.858 5.858h-8.284l-5.858-5.858v-8.284l5.858-5.858h8.284zm.829-2h-9.942l-7.029 7.029v9.941l7.029 7.03h9.941l7.03-7.029v-9.942l-7.029-7.029zm-8.482 16.992l3.518-3.568 3.554 3.521 1.431-1.43-3.566-3.523 3.535-3.568-1.431-1.432-3.539 3.583-3.581-3.457-1.418 1.418 3.585 3.473-3.507 3.566 1.419 1.417z"></path>
        </svg>

        <div class="message"><%= errorMessage %></div>

    <% } else { %>

        <div style="display: none" id="flash-message" class="flash-message error"></div>

        <div class="logo"><span>Logo</span></div>

        <div class="top-wrapper">

            <div class="title">Reset your password</div>

            <div class="info">
                You have requested to reset the password
                <br>
                for: <span class="mail"><%= email %></span>
            </div>

        </div>

        <!-- New password -->
        <div id="password-field" class="form-field-wrapper">

            <div class="form-field">

                <i class="material-icons">lock</i>

                <label for="new-password"></label>
                <input id="new-password"
                       type="password"
                       placeholder="New password">

            </div>

            <div class="form-field-error"></div>

        </div>

        <!-- Confirm password -->
        <div id="confirm-password-field" class="form-field-wrapper">

            <div class="form-field">

                <i class="material-icons">lock</i>

                <label for="confirm-password"></label>
                <input id="confirm-password"
                       type="password"
                       placeholder="Confirm new password">

            </div>

            <div class="form-field-error"></div>


        </div>

        <!-- Hidden inputs -->
        <input id="email" type="hidden" value="<%= email %>">
        <input id="token" type="hidden" value="<%= token %>">

        <div id="button" class="button">Reset my password</div>

        <!-- Loader -->
        <div style="display: none" id="loader-overlay" class="opaque-overlay">

            <div style="display: none" class="spinner-wrapper">

                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>

        </div>

    <% } %>

</div>

<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/js/new-password.js"></script>

<%- include('includes/end.ejs') %>